<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contrat généré avec succès</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1>Contrat généré avec succès !</h1>
    <p>Votre contrat Swagger pour l'entité <span th:text="${entityName}"></span> a été généré avec succès.</p>

    <h2>Contrat YAML généré :</h2>
    <div class="card">
        <div class="card-body">
            <pre class="bg-light p-3" th:text="${yamlContract}"></pre>
        </div>
    </div>

    <!-- Lien pour télécharger le fichier -->
    <a class="btn btn-success mt-3" id="downloadLink">Télécharger dans dossier par defaut </a>
    <a th:href="${downloadLink}" class="btn btn-info mt-3">Téléchargement manuelle</a>
    <a th:href="@{/generateContract}" class="btn btn-primary mt-3">Retour au formulaire</a>

    <!-- Notification Bootstrap -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert"
             aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Téléchargement réussi !
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("downloadLink").addEventListener("click", function () {
        const toastElement = document.getElementById('successToast');
        const toast = new bootstrap.Toast(toastElement);
        toast.show();
    });
</script>
</body>
</html>
